<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather report - What's the weather today?</title>
  </head>
  <body>
    <header>
      <hgroup>
        <h1>Weather report</h1>
        <h2>What's the weather today?</h2>
      </hgroup>
    </header>
    <main>
      <form action="/weather-report" method="post">
        <label for="search">Location</label>
        <input type="text" name="search" autocomplete="off">
        <button type="submit">Search</button>
      </form>
    </main>
  </body>
</html>
