<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather report - What's the weather today?</title>
  </head>
  <body>
    <header>
      <hgroup>
        <h1>Weather report</h1>
        <h2>What's the weather today?</h2>
      </hgroup>
    </header>
    <main>
      <dl>
        <dt>City</dt>
        <dd><%= @city %></dd>
        <dt>Country</dt>
        <dd><%= @country %></dd>
        <dt>Temperature</dt>
        <dd><%= @temperature %></dd>
      </dl>
    </main>
  </body>
</html>
